.App {
  margin: 0px;
  padding: 0px;
}

.home-container {
  background: #fbfff5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 14px 5%;
  background-color: #FFF;
}

.navbar .logo {
  width: 100px;
  height: 61px;
}

.navbar .logo img {
  width: 100%;
  height: 100%;
}

.searchbar {
  min-width: 400px;
  position: relative;
}
.searchbar input {
  width: 95%;
  border: none;
  height: 45px;
  border: 1px solid #1cb02d;
  border-radius: 14px;
  padding-left: 18px;
}
.searchbar button {
  background: none;
  position: absolute;
  right: 10px;
  top: 7px;
  background-color: #1cb02d;
  border: none;
  width: 41px;
  height: 33px;
  border-radius: 8px;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-items .item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.menu-items .item img {
  width: 18px;
  height: auto;
}

.menu-items .item a {
  font-weight: 800;
  color: #1cb02d;
  margin: 0 4px;
  text-decoration: none;
  font-family: "gilo";
}

.secondary-links {
  background-color: #f5fee6;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}
.secondary-links a {
  text-decoration: none;
  color: #1cb02d;
  font-weight: 500;
  font-family: "gilo";
  margin-right: 5%;
}

.secondary-links a:hover {
  color: #0F6018;
  font-family: 'gil';
}

.banner {
  width: 100%;
  background-color: #fff;
}
.banner .banner-content {
  width: 88%;
  display: flex;
  align-items: center;
  margin: auto;
}
.banner .data {
  width: 35%;

}
.banner .data .title {
  font-size: 50px;
  line-height: 74px;
  font-weight: 800;
  font-family: "gil";
  text-align: left;
  margin-bottom: 0;
}
.banner .data .title span {
  color: #1cb02d;
  text-transform: uppercase;
}

.banner .data .subtitle {
  font-size: 15px;
  color: #000;
  line-height: 25px;
  margin-top: 32px;
  font-family: "Inter", sans-serif;
}

.banner .data button {
  background-color: #1cb02d;
  border-radius: 15px;
  height: 50px;
  width: 100%;
  max-width: 260px;
  color: #fff;
  font-family: "gil";
  font-size: 16px;
  border: none;
  margin-top: 32px;
}

.banner .banner-image {
  position: relative;
}

.banner .banner-image .stat {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px rgba(28, 176, 45, 0.3);
  background-color: #f5fee6;
  color: #1cb02d;
  font-family: "gil";
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .banner-image .stat {
  position: absolute;
  top: 10px;
  left: 15%;
}

.banner .banner-image .stat2 {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px rgba(28, 176, 45, 0.3);
  background-color: #f5fee6;
  color: #1cb02d;
  font-family: "gil";
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .banner-image .stat2 {
  position: absolute;
  top: 10px;
  right: 15%;
}

.top-restaurants {
  margin-top: 60px;
  width: 100%;
  
}

/* .top-restaurants img {
  width: 200px;
  height: 140px;
} */

.top-restaurants .section-title {
  text-align: center;
  font-family: "gil";
  font-size: 20px;
  margin-bottom: 18px;
}



.top-restaurants .restaurants {
  display: flex;
  justify-content: center;
}

/* talk yo shit */

.top-cards {
  margin-top: 60px;
  margin-bottom: 90px;
  background: #f5fee6;

}

.top-cards .section-title {
  text-align: center;
  font-family: "gil";
  font-size: 28px;
  margin-bottom: 18px;
}

.top-cards .item-cards img {
  width: 200px;
  height: 140px;
  padding-left: 13px;
  padding-top: 23px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
}

.top-cards .item-cards {
  display: flex;
  justify-content: center;
}

/* member reward */

.reward {
  margin-top: 70px;
}

.reward img {
  width: 85%;
  padding-left: 40px;
}

.reward2 {
  width: 50%;
  margin-left: 19px;
}

.r2 {
  font-family: "Gil";
  font-weight: bold;
  font-size: 49px;
  padding-top: 60px;
  padding-bottom: 20px;
}

.r3 {
  font-family: "Inter";
  font-size: 19px;
  font-weight: 600;
  color: #252522;
  padding-bottom: 25px;
}

.btn {
  background: #1cb02d;
  border: none;
  text-align: center;
  cursor: pointer;
  padding: 12px 72px;
  border-radius: 16px;
  font-family: "gil";
  color: #f5fee6;
}

/* carous cards */

.carou {
  margin-top: 74px;
  padding: 38px 12px;
  background: #f5fee6;
  font-family: "gil";
  
}

.title{
  text-align: center;
  font-family: 'gil';
  font-size: 20px;
  margin-bottom: 25px;
}

.carous-card{
  background: #FFF;
  width: 230px;
  height: 277px;
  border-radius: 10px;
  
}

/* .carous p {
  font-weight: 100;
  font-size: 13px;
  color: #252522;
} */

.card-wrap {
  margin-left: 20px;
}

.card-wrap:hover {
  
}

.carous-p1 {
  font-family: 'inter';
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 19px;
  
}

.carous-green {
  color:#0F6018;
  font-family: "gil";
  font-size: 22px;
  line-height: 25px;
  margin-bottom: 8px;
}

.carous img {
  width: 200px;
  height: 140px;
  padding-left: 13px;
  padding-top: 23px;
  margin-bottom: 15px;
}

.h-span{
  color: #FF0000;
  width: 49px;
  height: 18px;
  left: 164px;
  top: 240px;
  background: rgba(255, 0, 0, 0.2);
  border-radius: 5px;
}
.h-span-p {
  font-size: 14px;
  font-weight: 400;
  }

.span {
  text-decoration: line-through;
  font-family: 'inter';
  font-size: 14px;;
  font-weight: 100;
  
}

/* blog thing */

.blog {
  margin-top: 74px;
  padding: 29px 72px;
  background: #F5FEE6;
  box-shadow: 0px 0px 15px rgba(15, 96, 24, 0.2);
  border-radius: 10px;
  width: 76%;
  margin-left: 80px;
}

.blog1 {
  font-family: "gil";
  font-size: 39px;
  padding-bottom: 10px;
}

.blog2 {
  font-family: "inter";
  font-size: 15px;
  font-weight: 400;
  width: 39%;
  padding-bottom: 16px;
}

.blog3 {
  font-family: "gil";
  font-size: 16px;
}

.blog-right {
  padding-top: 12px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 30px;
  background: #116e1c;
  border-radius: 11px;
}

.test {
  width: 84%;
  margin: auto;
  padding: 4px;
  background: #dbebdc;
  border-radius: 2px;
}
.test2 {
  width: 90%;
  margin: auto;
  padding: 4px;
  background: #a5d3aa;
  border-radius: 2px;
}

.blog-right img {
  width: 190px;
}


.right1 {
  font-family: "gil";
  color: white;
  font-size: 14px;
  font-weight: 200;
}

/* headless chicken */

.base-container {
  margin-left: 35px;
  padding-left: 10px;
  margin-right: 35px;
  padding-top: 50px;
  margin-top: 50px;
}

.fight {
  font-family: "gil";
  text-align: center;
  font-size: 23px;
  margin-bottom: 20px;
}

.fight-p {
  font-family: "inter";
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 12px;
}

.fight1 {
  /* background: #eeff92; */
  width: 204px;
  height: 206px;
  margin-right: 35px;
  border-radius: 10px;
  box-shadow: 5px 10px 2px 4px #f1f0f0;
  background: rgba(167, 241, 175, 0.5);
  border-radius: 10px;
}

.fight1 img {
  margin: auto;
  display: block;
  padding-top: 50px;
  padding-bottom: 15px;
}

.fight2 {
  width: 204px;
  height: 206px;
  background: #F5FEE6;
  margin-right: 35px;
  border-radius: 10px;
  /* box-shadow: 5px 10px 2px 4px #f1f0f0; */
}

.fight2 img {
  margin: auto;
  display: flex;
  padding-top: 50px;
  padding-bottom: 15px;
}

.fight3 {
  width: 204px;
  height: 206px;
  margin-right: 35px;
  border-radius: 10px;
  background: rgba(167, 241, 175, 0.5);
  border-radius: 10px;
}
.fight3 img {
  margin: auto;
  display: flex;
  padding-top: 50px;
  padding-bottom: 15px;
}

.fight4 {
  width: 204px;
  height: 206px;
  background: #F5FEE6;
  border-radius: 10px;
  /* box-shadow: 5px 10px 2px 4px #f1f0f0; */
}

.fight4 img {
  margin: auto;
  display: flex;
  padding-top: 50px;
  padding-bottom: 15px;
}

/* community shii */

.community {
  margin-top: 40px;
  margin-bottom: 40px;
  /* background-image: url("/public/images/Logo.png"); */
  background-color: #1cb02d;
  padding-bottom: 30px;
  padding-top: 25px;
  margin-right: 80px;
  margin-left: 80px;
  border-radius: 20px;
}
.community-p {
  text-align: center;
  font-family: "gil";
  font-size: 28px;
  color: #fff;
  padding-bottom: 25px;
}

.community-p2 {
  text-align: center;
  margin: auto;
  font-family: "inter";
  font-size: 14px;
  line-height: 19px;
  width: 42%;
  font-weight: 600;
  padding-bottom: 25px;
  color: #fff;
}

.join {
  width: 41%;
  margin: auto;
}

.join-search {
  border: none;
  font-family: "inter";
  font-size: 12px;
  font-weight: 600;
  padding: 9px 39px;
  border-radius: 11px;
  color: #77776e;
}

/* .join-search ::placeholder{
  font-family: 'inter';
  font-size: 44px;
}  */

.join-btn {
  background: #feb434;
  border: none;
  text-align: center;
  cursor: pointer;
  padding: 9px 52px;
  border-radius: 11px;
  font-family: "gil";
  color: #f5fee6;
}
