.top{
  position: absolute;
  width: 503px;
  height: 19px;
  left: 349px;
  top: 2px;
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #252522;
}

.logo {
 text-align: center;
 position: relative;
 top:20px;
} 

.img{
position: absolute;
left: 0%;
right: 73.43%;
top: 0%;
bottom: 33.83%;
background: #1CB02D;
}

.logo-2{
  padding-top: 18px;
}

/* .oologo{
  position: absolute;
  left: 47.71%;
  right: 22.85%;
  top: 27.77%;
  bottom: 40.73%;
  background: #1CB02D;
} */

.dot{
  position: absolute;
  left: 583px;
}

.img {
position: absolute;
left: 10.33%;
right: 80.01%;
top: 69.82%;
bottom: 8.57%;

/* Food Bargain/Main/Tertiary */

background: #252522;
}

.search {
  position: absolute;
  left: 39px;
  top: 106px;
  border-radius: 1px;
  color: #1CB02D;
  }

.search-bar{
  width: 200px;
  top:  35px;
  height: 21px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #1CB02D;
}

.food-search input {
  left: 40px;
  font: gilroy;
  font-weight: 300;
  font-size: 16px;
}

::placeholder {
  padding-left: 12px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.search-icon {
  position: absolute;
  left: 11.57%;
  right: 13.52%;
  top: 11.58%;
  bottom: 13.52%;
  
  /* Food Bargain/Main/Primary */
  
  border: 1.5px solid #1CB02D;
}

.FiSearch {
  color: black;
  position: absolute;
  left:11px;
}

.cart{
  position: absolute;
  right: 40px;
  top: 29px;
}

.cart li {
  display: inline-block;
  margin: 0 11px;
  list-style: none;
  color: #1CB02D;
  font-size: 14px;
}

/* display: flex;
  top:45px;
  list-style: none;
  justify-content: space-evenly;
  color: #1CB02D; */