*{
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: gil;
  src: url("./fonts/Gilroy-ExtraBold.otf");
}

@font-face {
  font-family: gilo;
  src: url("./fonts/Gilroy-Light.otf");
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center
}

.top{
  position: absolute;
  width: 100%;
  color: #f5fee6;
}

.top-case{
    position: absolute;
    width: 100%;
    text-align: center;
    height: 19px;
    text-transform: uppercase;
    background: #F5FEE6;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #252522;
}

.logo img {
  position: relative;
  text-align: center;
  width: 181px;
  margin-left: 497px;
  margin-top: 40px;
  margin-bottom: 70px;

} 

.search {
  position: absolute;
  left: 39px;
  top: 106px;
  border-radius: 1px;
  color: #1CB02D;
  }

.search-bar{
  width: 200px;
  top:  35px;
  height: 21px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #1CB02D;
}

.food-search input {
  left: 40px;
  font: 'gil', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

::placeholder {
  padding-left: 24px;
  font-family: 'gilo', 'roboto', 'Arial Narrow', Arial, sans-serif;
  color:#1CB02D;
}

.search-icon {
  position: absolute;
  left: -5px;
  margin-right: 2px;
  right: 13.52%;
  top: 11.58%;
  bottom: 13.52%;
  
  /* Food Bargain/Main/Primary */
  
  border: none;
}


/* .FiSearch {
  color: black;
  position: absolute;
  left:11px;
} */

.cart{
  position: absolute;
  right: 24px;
  top: 85px;
  display: flex;
}

.cart li {
  display: inline-block;
  margin: 0 11px;
  list-style: none;
  color: #1CB02D;
  font-size: 14px;
  cursor: pointer;
}
.cart RiShoppingCartLine {
  color: #1CB02D;
}

.cart-user{
  color: #1CB02D;
}

.cart-icon{
  color: #1CB02D;
}
.below-nav{
  position: absolute;
  right: 391px;
  top: 139px;
  display: flex;
}

.below-nav li{
  
  display:inline-flex;

  margin: 0 12px;
  top:45px;
  list-style: none;
  font-weight: bold;
  cursor: pointer;
  color: #1CB02D;
}

div.below-nav {
  display:flex;
  margin-top: 34px;
  left: 377px;
  width: 38%;
  justify-content: space-between;
  font-weight: bold;
  font-family: 'gil', sans-serif;
  font-size: 19px;
  cursor: pointer;
  color: #1CB02D;
}

.hero-side{

  font-family: 'gil', sans-serif;
  font-weight: 600;
  font-size: 40px;
}

.eat-more{
  width: 80%;
  margin: 0 auto;
}

.eat-more .child{
  width: 45%;
}

.eat-more p{
  height: 108px;
  font-family: 'gilo', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #252522;
}

.p-green {
  color: #1CB02D !important;
}



.feature {
  background: #F5FEE6;
}

.feature-text{
  font-family: 'gil';
  font-weight: bold;
  font-size: 21px;
  line-height: 34px;
  padding-left: 40%;
  padding-bottom: 13px;
  margin-top: 45px;
}

.feature-p {
display: flex;
}

.feature-pic1 img {
  width: 240px;
  text-align: center;
}

.feature-pic2 img {
  width: 240px;
}

.feature-pic3 img {
  width: 240px;
  margin-right: 30px;
}

.feature-pic4 img {
  width: 240px; 
}

.reward {
  margin-top: 70px;
}

.reward img {
  width: 95%;
  padding-left: 10px;
}

.reward2 {
  width: 50%;
  margin-left: 19px;
}

.r2{
  font-family: 'Gil';
  font-weight: bold;
  font-size: 49px;
  padding-top: 60px;
  padding-bottom: 20px;
}

.r3{
  font-family: 'Inter';
  font-size: 19px;
  font-weight: 600;
  color: #252522;
  padding-bottom: 25px;
}

.btn {
  background: #1CB02D;
  border: none;
  text-align: center;
  cursor: pointer;
  padding: 12px 72px;
  border-radius: 16px;
  
  font-family: 'gil';
  color: #F5FEE6;
}